.DS_Store
/node_modules/

# React Router
/.react-router/
/build/
/server-build/

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
vite.config.timestamp-*

.env
.env.local
.env.development