react-router-starter.localhost {
	reverse_proxy localhost:3000 {
		header_up Host {host}
		header_up X-Forwarded-For {remote_host}
	}

	reverse_proxy /_vite/ localhost:24678 {
		header_up Host {host}
		header_up X-Forwarded-For {remote_host}
	}

	reverse_proxy localhost:9229
}
